@topbar-z-index: 30;
@orange: #FF6700;
@nav-bg-color: #333;
@color-black: #333;
@color-grey: #b0b0b0;
@color-white-grey: #f5f5f5;

.base-margin {
  margin: 0 0 1em 0; 
}

.site-topbar {
  .base-margin();

  background-color: @color-black;
  position: relative;
  height: 4em;
  line-height: 4em;
  font-size: .8em;
  z-index: @topbar-z-index;

  // &::before,
  // &::after {
  //   content: " ";
  //   display: block;
  //   clear: both;
  // }

  a {
    color: @color-grey;
    &:hover {
      color: #fff;
    }
  }

  .sep {
    margin: 0 .2em;
    color: #000;
  }

  .topbar-nav {
    float: left;
  }

  .topbar-cart {
    float: right;
    margin: 0 1em;
    padding: 0 1em;
    background-color: @color-black+20;
    position: relative;
    .cart-menu {
      display: none;
      background-color: @color-black;
      color: #fff;
      position: absolute;
      width: 200px;
      top: 51.88;
      right: 0;
      z-index: @topbar-z-index +100;
    }
  }

  .topbar-info {
    float: right;
  }
}

.site-header {
  @line-height: 6em;

  .base-margin();
  height: @line-height;
  line-height: @line-height;
  z-index: @topbar-z-index -1;

  #logo {
    float: left;
    width: 4em;
    height: 4em;
    margin: auto;
    background-color: #b0b0b0;
  }

  .nav-list {
    float: left;
    a[class="nav-list-item"] {
      height: @line-height;
      line-height: @line-height;
      margin: 0 .5em;

      &:hover {
        color: @orange;
      }
    }
  }

  .form-search {
    float: right;

    input {
      height: @line-height*0.7;
      line-height: @line-height*0.7;
      background-color: transparent;
      border: 1px solid #e0e0e0;
      margin: 0 0;
    }
  }
}

.home-hero {
  // @hero-height: 21em;
  
  position: relative;
  // max-height: @hero-height;

  .home-hero-category {
    float: left;
    // height: @hero-height;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);

    .category-list {
      ul {
        margin: 0;
        padding: 0;
        li[class="list-item"] {
          margin-top: 1em;
          margin-bottom: 1em;
          padding: .3em;
          padding-left: 2em;
          a {
            color: #fff;
          }
          &:hover {
            background-color: @orange;
          }
        }
      }
    }
  }

  .home-hero-slider {
    float: left;
    // max-height: @hero-height;

    ul {
      margin: 0;
      padding: 0;
    }
    li {
      padding: 0;
      // height: 200px;
      img {
        display: block;
        width: 100%;
      }
    }
  }

  .home-hero-sub {
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .channel-list {
      margin: 1em 0;
      width: 20%;
      display: flex;
      flex-wrap: wrap;
      .channel-list-item {
        width: 33.33%;
        height: 50%;
        background-color: @color-grey;
        .item-content {
          width: 90%;
          height: 90%;
          margin: 0 auto;
          background-color: @orange;
        }
      }
    }

    .hero-sub-item {
      width: 24%;
      height: 5em;
      margin: 1em 0;
      background-color: @color-grey;
      &:hover {
        box-shadow: 0 15px 30px rgba(0,0,0,0.1);
      }
    }
  }
}

.home-main {
  background-color: @color-white-grey;

  .home-main-box {
    .box-hd {
      @hd-height: 2em;

      .title {
        float: left;
        font-size: normal;
        font-weight: normal;
        height: @hd-height;
        line-height: @hd-height;
      }
      .more {
        float: right;
        height: @hd-height;
        line-height: @hd-height;
      }
    }
  }
}