body {
  margin: 0;
  box-sizing: border-box;

  ._container {
    max-width: 1226px;
    margin: 0 auto;
  }

  ._clearfl {
    &::before,
    &::after {
      content: " ";
      display: block;
      clear: both;
    }
  }

  a {
    text-decoration: none;
    color: #757575;
    &:hover {
      color: #aaa;
    }
  }
}